{% extends 'cram_app/layout.html' %}

{% block title %}My Cram Hubs{% endblock %}

{% block content %}
  <div class="my-hubs-container">
    <h2 class="page-heading">My Cram Hubs</h2>

    {% if hubs %}
      <ul class="hub-list">
        {% for hub in hubs %}
        <li class="hub-list-item">
          <div class="hub-item-container">
            <a href="{% url 'cram_hub_dashboard' hub.id %}" class="hub-link">
              {{ hub.title }}
            </a>
            <form action="{% url 'delete_cram_hub' hub.id %}" method="post" class="delete-form">
              {% csrf_token %}
              <button type="submit" class="delete-link" title="Delete">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </div>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no-hubs-msg">You haven't created any cram hubs yet.</p>
    {% endif %}
  </div>
{% endblock %}

